<script src="/js/scroll.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
      AOS.init();
  </script>
  <span class="wsp-msg"><i class="far fa-comments"></i> ¡Escríbenos!</span>
  <a href="https://api.whatsapp.com/send?phone=593982345160" class="wsp-btn" target="_blank"><i class="fab fa-whatsapp"></i></a>
  <!--<p>With <i class="fas fa-heart"></i> to the <span class="tbold">world</span> from <span class="tbold">Ecuador</span></p>-->
  <p><strong>Marbust Websites&reg;</strong> is a registered trademark in the name of:</p>
  <a href="https://marbust.com"><img src="/img/footer/letters.png" alt="marbust logo" class="dblock mauto w200px mt5px mb5px"></a>
  <p>&copy; <%= new Date().getFullYear();%> <a href="https://marbust.com">Marbust Technology Company</a> - All Rights Reserved</p>