<div class="contacts-bar">
    <div class="left">
        <a href="mailto:sites@marbust.com"><i class="fas fa-envelope-open-text"></i> <span>Sites@MarBust.com</span></a> <strong>|</strong> <a href="tel:+593982345160"><i class="fas fa-headset"></i> <span>+593 (98) 2345 - 160</span></a>
    </div>
    <div class="right">
        <a href="https://www.facebook.com/MarbustTechnologyCompany/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://api.whatsapp.com/send?phone=593982345160"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.youtube.com/channel/UCdVLdxEW8STQq-IP8HTndag/"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/MarbustTech"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/marbusttechnology/"><i class="fab fa-instagram"></i></a>
    </div>
</div>