<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Marbust Websites&reg; | <%= pageTitle %></title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<!-- SEO Codes -->
<meta name="keywords" content="Marbust, Technology, Company, Diseño, diseño web, desarrollo web, hosting, hospedaje web, dominio, nombre de sitio web, proyectos programados, proyectos 100% programados, diseño web moderno, diseño web interactivo, UI / UX, sitios web personalizados, sitios web informativos, sitios web empresariales, sitios web para empresas, sitios webs para marcas empresariales, sitios web para marcas personales, MBHostCloud, SEO (Optimización de los Motores de Búsqueda), Soporte web gratis, design, development, gratis, como, comenzar, programar, html, html5, css, css3, js, php, pwa, crear, tener, convertir, mi, en, una, android, app, aplicación, mvc, model, view, controllers">
<meta name="description" content="Somos una empresa internacional que ayuda a los emprendedores en la era digital a crear su propio Sitio Web con su Estilo, Dominio, Hosting, como una APP Progresiva y más">
<meta name="author" content="Marbust Technology Company">
<meta name="copyright" content="© <%= new Date().getFullYear();%> Marbust Technology Company - All Rights Reserved">
<script src="/js/functions.js"></script>
<!--https://michalsnik.github.io/aos/-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>