<div class="menu-bar">
    <a href="/"><img src="/img/header/logoFullColor.png" alt="Logo"></a>
    <nav id="nav">
       <i class="fas fa-arrow-left" id="close-btn" onclick="destroymenu()"></i>
        <ul>
            <li><a href="/#home" onclick="destroymenu()" id="HomeLink"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/#about" onclick="destroymenu()" id="AboutLink"><i class="fas fa-briefcase"></i> ¿Quiénes somos?</a></li>
            <li><a href="/#services" onclick="destroymenu()" id="ServicesLink"><i class="fas fa-project-diagram"></i> Servicios</a></li>
            <li><a href="/#pricing" onclick="destroymenu()" id="PricingLink"><i class="fas fa-tasks"></i> Planes</a></li>
            <li><a href="/#portafolio" onclick="destroymenu()" id="PortafolioLink"><i class="fas fa-building"></i> Portafolio</a></li>
            <li><a href="/#contact" onclick="destroymenu()" id="ContactLink"><i class="fas fa-map-pin"></i> Contáctanos</a></li>
        </ul>
    </nav>
    <i class="fas fa-bars" id="menu-btn" onclick="menudisplayer()"></i>
</div>