<div class="banner" id="home">
    <img src="/img/banner/logo.png" alt="Logo">
    <p class="flex-s-a"><a href="./#about"><i class="fas fa-chevron-down"></i></a></p>
</div>
<div class="page-section" id="about">
    <h1 class="fs40px" data-aos="flip-up" data-aos-duration="800">¿Quiénes Somos?</h1>
    <hr class="w100px">
    <div class="flex-s-a flex-vc">
        <div class="box-6 box-i-5 box-m-8 box-p-10" data-aos="flip-left" data-aos-duration="800">
            <div class="w100p mauto">
                <img src="/img/about/logo-marbust-websites.png" alt="Marbust Logo" class="w100p dblock mauto">
            </div>
        </div>
        <div class="box-6 box-i-7 box-m-12" data-aos="flip-right" data-aos-duration="800">
            <p class="fs18px lh2em taj"><strong><i class="far fa-check-circle"></i></strong> Somos una empresa que ayuda
                a los emprendedores en la era digital; por esa razón nos esforzamos en plasmar tus ideas a la vida
                porque creamos tu sitio web con tu propio <strong>Estilo</strong>, <strong>Dominio</strong> (nombre),
                <strong>Hosting</strong> (Hospedaje), como una <strong>APP Web Progresiva</strong> (PWA) y más.</p>
        </div>
    </div>
</div>

<div class="page-section" id="services">
    <h1 class="fs40px" data-aos="flip-up" data-aos-duration="800">¿Por qué elegirnos?</h1>
    <hr class="w100px">
    <div class="flex-s-a flex-vc mt25px">
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_s2vaal7n.json"
                        background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Proyectos 100% programados</h2>
                <p class="taj">Contamos con un equipo de profesionales especializados en <strong>Diseño y Desarrollo
                        Web</strong> moderno e interactivo en <strong>UI / UX</strong>.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/measure.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Hecho a tu medida</h2>
                <p class="taj">Ofrecemos <strong>Sitios Webs</strong> personalizados de acuerdo a tu perfil de
                    <strong>empresa o personal, gusto y presupuesto</strong>.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/pwa.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>PWA (Aplicaciones Web Progresivas)</h2>
                <p class="taj">Tu proyecto tendrá la opción de instalarse en un <strong>Dispositivo Móvil, Tablet o
                        Computadora</strong> tal como una <strong>APP nativa</strong>.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/domains.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Usamos el Nombre ideal</h2>
                <p class="taj">Rompemos la barrera del típico <strong>.COM</strong> porque te asesoramos a buscar el
                    nombre de <strong>dominio</strong> ideal y al <strong>mejor precio</strong> del mercado.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/server.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Somos proveedores de Hosting</h2>
                <p class="taj">Trabajamos en conjunto con <strong><a
                            href="https://mbhostcloud.xyz">MBHostCloud&reg;</a></strong> para ofrecerte el mejor hosting
                    <strong>rápido, confiable y económico</strong> para tu proyecto.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/seo.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>SEO (Optimización de los Motores de Búsqueda)</h2>
                <p class="taj">Queremos ayudarte para que tu proyecto tenga éxito; por eso tu <strong>Sitio Web</strong>
                    contará con configuraciones de <strong>SEO</strong>.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_7gsptbip.json"
                        background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Soporte</h2>
                <p class="taj">Puedes solicitar cambios en tu Sitio Web (<strong>Texto, Imágenes, o Iconos</strong>)
                    totalmente gratis dentro del <strong>primer año</strong>.</p>
            </div>
        </div>
        <div class="box-6 box-m-12 box-p-12 flex-s-a service-box" data-aos="zoom-out" data-aos-duration="800">
            <div class="box-4 flex-vc box-i-3 box-m-4 box-p-8 left">
                <div class="w100p mauto">
                    <img src="/img/services/payment.png" alt="Service Icon" class="dblock mauto w100p">
                </div>
            </div>
            <div class="box-8 box-i-9 box-m-8 box-p-12 flex-vcc right">
                <h2>Planes de Pago</h2>
                <p class="taj">No te preocupes por el presupuesto, conversamos contigo para ayudarte con un plan de pago
                    ideal con <strong>financiamiento directo</strong>.</p>
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="pricing">
    <h1 class="fs40px" data-aos="flip-up" data-aos-duration="800">Planes</h1>
    <hr class="w100px">
    <div class="flex-s-a flex-vc">
        <div class="brand-box box-4 box-i-6 box-m-10 box-p-12" data-aos="zoom-in" data-aos-duration="800">
            <p class="icon-ctnir"><i class="fas fa-user-tie"></i></p>
            <h2>Cool</h2>
            <h1 class="fs40px"><span class="fs25px">$</span>258,<span class="fs18px"> 50</span></h1>
            <div class="features">
                <p><strong>🎯 .XYZ &amp; 💻 Hosting</strong> x 12 Meses*</p>
                <hr>
                <p><strong>📃 Sitio Web: </strong> Informativo</p>
                <hr>
                <p><strong>🎨 Plantilla: </strong> Básica (<strong>Multi Página</strong>)</p>
                <hr>
                <p><strong> 📐 100% Programado</strong> (<span class="modalidad"><i class="fab fa-html5"></i> <i
                            class="fab fa-sass"></i> <i class="fab fa-js"></i></span>)</p>
                <hr>
                <p>🏠 Página de inicio</p>
                <hr>
                <p>🏢 Somos</p>
                <hr>
                <p>👨🏻‍🏭 Servicios</p>
                <hr>
                <p>📰 Noticias (Twitter API)</p>
                <hr>
                <p>📡 Contáctenos </p>
                <hr>
                <p><strong>🥇 SEO </strong></p>
                <hr>
                <p><strong>📱 PWA</strong> (Aplicación Web Progresiva)</p>
                <hr>
                <p><strong>🦺 Soporte</strong> x 12 meses</p>
                <a href="https://api.whatsapp.com/send?phone=593982345160&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20contratar%20su%20plan%20Cool%20de%20*Marbust%20Websites*"
                    class="p-btn" target="_blank">Comprar</a>
            </div>

        </div>

        <div class="brand-box box-4 box-i-6 box-m-10 box-p-12" data-aos="zoom-in" data-aos-duration="800">
            <p class="icon-ctnir"><i class="fas fa-business-time"></i></p>
            <h2>Basic</h2>
            <h1 class="fs40px"><span class="fs25px">$</span>270,<span class="fs18px"> 00</span></h1>
            <div class="features">
                <p><strong>🎯 .COM &amp; 💻 Hosting</strong> x 12 Meses*</p>
                <hr>
                <p><strong>📃 Sitio Web: </strong> Informativo</p>
                <hr>
                <p><strong>🎨 Plantilla: </strong> Básica (<strong>Multi Página</strong>)</p>
                <hr>
                <p><strong> 📐 100% Programado</strong> (<span class="modalidad"><i class="fab fa-html5"></i> <i
                            class="fab fa-sass"></i> <i class="fab fa-js"></i></span>)</p>
                <hr>
                <p>🏠 Página de inicio</p>
                <hr>
                <p>🏢 Somos</p>
                <hr>
                <p>👨🏻‍🏭 Servicios</p>
                <hr>
                <p>📰 Noticias (Twitter API)</p>
                <hr>
                <p>📡 Contáctenos </p>
                <hr>
                <p><strong>🥇 SEO </strong></p>
                <hr>
                <p><strong>📱 PWA</strong> (Aplicación Web Progresiva)</p>
                <hr>
                <p><strong>🦺 Soporte</strong> x 12 meses</p>
                <a href="https://api.whatsapp.com/send?phone=593982345160&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20contratar%20su%20plan%20Basic%20de%20*Marbust%20Websites*"
                    class="p-btn" target="_blank">Comprar</a>
            </div>

        </div>

        <div class="brand-box box-4 box-i-6 box-m-10 box-p-12" data-aos="zoom-in" data-aos-duration="800">
            <p class="icon-ctnir"><i class="fas fa-store"></i></p>
            <h2>Store</h2>
            <h1 class="fs40px"><span class="fs25px">$</span>314,<span class="fs18px"> 80</span></h1>
            <div class="features">
                <p><strong>🎯 .COM &amp; 💻 Hosting</strong> x 12 Meses*</p>
                <hr>
                <p><strong>📃 Sitio Web: </strong> Comercio Electrónico</p>
                <hr>
                <p><strong>🎨 Plantilla: </strong> Básica (<strong>Multi Página</strong>)</p>
                <hr>
                <p><strong> 📐 100% Programado</strong> (<span class="modalidad"><i class="fab fa-html5"></i> <i
                            class="fab fa-sass"></i> <i class="fab fa-js"></i></span>)</p>
                <hr>
                <p>🏠 Página de inicio</p>
                <hr>
                <p>🏢 Somos</p>
                <hr>
                <p>👨🏻‍🏭 Servicios</p>
                <hr>
                <p>📰 Noticias (Twitter API)</p>
                <hr>
                <p>📡 Contáctenos </p>
                <hr>
                <p>🛒 Tienda Online (<strong><a href="https://www.ecwid.com/pricing"
                            target="_blank">Ecwid**</a></strong>)</p>
                <hr>
                <p><strong>🥇 SEO </strong></p>
                <hr>
                <p><strong>📱 PWA</strong> (Aplicación Web Progresiva)</p>
                <hr>
                <p><strong>🦺 Soporte</strong> x 12 meses</p>
                <a href="https://api.whatsapp.com/send?phone=593982345160&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20contratar%20su%20plan%20Store%20de%20*Marbust%20Websites*"
                    class="p-btn" target="_blank">Comprar</a>
            </div>

        </div>


    </div>
    <br>
    <br>
    <p class="tac lh2em fs10px">Los precios descritos en los planes ya incluyen impuestos, además que pueden variar de
        acuerdo a las necesidades de los clientes.<br><em>Todos los paquetes incluyen un <strong>50%</strong> de
            descuento en Hosting.</em><br><strong>*</strong>Tanto Hosting como Dominio son servicios brindados por
        <strong><a href="https://mbhostcloud.xyz">MBHostCloud&reg;</a></strong> sujetos a renovación anual.<br>**Incluye
        Instalación de Software E-commerce dentro del Sitio Web bajo el Plan “<strong>Free Forever</strong>”.</p>
</div>

<div class="page-section" id="portafolio">
    <h1 class="fs40px" data-aos="flip-up" data-aos-duration="800">Portafolio</h1>
    <hr class="w100px">
    <br>
    <h2 class="tac fs25px gray"><strong>Aplicaciones Web / Proyectos:</strong></h2>
    <br>
    <div class="flex-s-a">
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://accounts.marbust.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/marbustaccounts.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Marbust Accounts&reg;</h2>
                <p><i class="fas fa-calendar-alt"></i> Since 2020<br>PWA ( <i class="fab fa-chrome"></i> <i
                        class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://framework.marbust.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/marbustframework.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Marbust Framework&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Since 2019<br>Web Framework ( <i class="fab fa-sass"></i> <i
                        class="fab fa-php"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://englishconnectsd.noticias-sd.org/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/englishconnectsd.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EnglishConnectSD&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Since 2021<br>PWA ( <i class="fab fa-chrome"></i> <i
                        class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
    </div>
    <br>
    <h2 class="tac fs25px gray"><strong>Sitios Webs:</strong></h2>
    <br>
    <div class="flex-s-a">
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://afintaxconsulting.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/afintax.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Afintax Consulting</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2022</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://elementary.academy/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/elementaryacademy.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Elementary Academy</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2022</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://megasuperior.com.ec" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/megasuperior.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>MegaSuperior</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Mar 2022</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://certusecuador.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/certus.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Certus Ecuador</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jan 2022</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://proecu.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/proecu.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>ProEcu</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Nov 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://pazviseg.ec/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/pazviseg.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Pazviseg</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Oct 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://sacfinpro.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/sacfinpro.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>SacfinPro</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Sep 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://ecuaforever.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/ecuaforever.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EcuaForever</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://jrsolutions-ec.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/jrsolutions.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>JRSOLUTIONS</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://elementaryconsultores.com/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/elementary.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>ELEMENTARY</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://caefecuador.fin.ec/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/caef.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>CAEF Ecuador</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jul 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://redecuesp.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/redecu.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Corporación Redecu ESP</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://asomotilonesesp.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/motilones.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>AREMOS ESP</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://recicladoratorres.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/recicladoratorres.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Recicladora Torres</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://carolstoresd.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/carolstore.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Carol Store SD</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://internationalbankerslatam.com/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/international.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>International Bankers Financial Group</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://cattleyababy.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/cattleyababy.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Cattleya Baby</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://cussepri.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/cussepri.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Cussepri</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://distribuidorhnd.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/hnd.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Oswal Rivilla</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://planet-ec.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/planet.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Planet IT</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://lepvexportaciones.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/lepv.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Exportaciones LEPV</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mbrelax.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mbrelax.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>MBRelax</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://gftconstructores.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/gft.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>GFT Constructores</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://plenitudpersonal.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/plenitud.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Plenitud Personal</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://gamesmultiaccesorios.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/games.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Games Multiaccesorios</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://estacool.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/estacool.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EstaCool Store</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mediacionpactodepaz.com/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/pacto.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Mediación Pacto de Paz</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> April 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://libelulapurpura.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/purpura.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>La Libélula Púrpura&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Feb 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://arteflor.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/arteflor.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Arte Flor</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://ferreteriaelobrero2.com/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/obrero.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>El Obrero # 2</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://aladino.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/aladino.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Muebles Aladino</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> October 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://romatarot.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/roma.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Roma Tarot</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mundomarino.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mundomarino.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Mundo Marino</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://orbea.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/orbea.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Multiservicios Orbea</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> January 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://visasexpress.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/visas.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Visas &amp; Travel Express</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> October 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://lion.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/lion.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>LION</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://rinconartesanal.mbhostcloud.xyz/"
            target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/rincon.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Rincón Artesanal</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> July 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://paradiseecuador.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/paradise.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Paradise Travel Ecuador</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://millanexplorer.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/millan.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Millan Explorer</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> January 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
    </div>
</div>

<div class="page-section" id="contact">
    <h1 class="fs40px" data-aos="flip-up" data-aos-duration="800">Contáctanos</h1>
    <hr class="w100px">
    <div class="flex-s-a flex-vc">
        <div class="box-4 box-i-6 box-m-7 box-p-10">
            <div class="w50p mauto maxw250px">
                <img src="/img/contact/map.png" alt="Contact Icon" class="dblock mauto w100p" data-aos="zoom-out"
                    data-aos-duration="800">
            </div>
            <!--<h2>Address</h2>-->
            <p class="tac">Diogenes Paredes Mz 5 Casa 11<br><strong class="fs20px">Santo Domingo - Ecuador</strong></p>
        </div>
        <div class="box-4 box-i-6 box-m-7 box-p-10 middle-box">
            <div class="w50p mauto maxw250px">
                <img src="/img/contact/call.png" alt="Contact Icon" class="dblock mauto w100p" data-aos="zoom-out"
                    data-aos-duration="800">
            </div>
            <!--<h2>Phone</h2>-->
            <p class="tac fs20px"><a href="tel:+593982345160">+593 (98) 2345 - 160</a></p>
        </div>
        <div class="box-4 box-i-6 box-m-7 box-p-10">
            <div class="w50p mauto maxw250px">
                <img src="/img/contact/email.png" alt="Contact Icon" class="dblock mauto w100p" data-aos="zoom-out"
                    data-aos-duration="800">
            </div>
            <!--<h2>Email</h2>-->
            <p class="tac fs20px fs-p-15px"><a href="mailto:sites@marbust.com">Sites@MarBust.com</a></p>
        </div>
    </div>
    <div class="map-container" data-aos="zoom-out" data-aos-duration="800">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4464777089174!2d-79.17917947083738!3d-0.23093915889536845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d54649b6204e0d%3A0xed0c96cffb8542dd!2sMarbust%20Technology%20Company!5e0!3m2!1sen!2sec!4v1606164108311!5m2!1sen!2sec"
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
            class="place-map"></iframe>
    </div>
</div>