#about {
    img {
        pointer-events: none;
    }
    p {
        strong {
            i {
                color: $color2;
            }
        }
    }
}

#pricing {
    //background: #efefef;

    .brand-box {
        margin-top: 60px;
        filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.36));
        background: #f3f3f3;
        padding: 10px 20px 20px 20px;
        border-radius: 30px;
        transition: 0.5s all;

        &:hover {
            transform: scale(1.05);
        }

        .icon-ctnir {
            background: #f3f3f3;
            width: 75px;
            height: 75px;
            font-size: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: -40px;
            color: $color2;
            border: 7.5px solid white;
            //position: relative;
            //top: -38px;
        }
        
        
        h2 {
            padding: 10px 0px;
        }

        .features {
            padding: 5px 0px;
            .modalidad {
                i {
                   // font-size: 40px;
                }
                i:nth-child(1) {
                    color: orangered;
                }
                i:nth-child(2) {
                    color: deeppink;
                }
                i:nth-child(3) {
                    color: #ffa700;
                }
            }

            p {
                //margin-top: -37px;
                text-align: center;
                line-height: 2em;
                font-size: 17px;
            }
            hr {
                //width: 75%;
                margin: 0px auto;
                background: rgba(128, 128, 128, 0.10);
                border-color: rgba(128, 128, 128, 0.10);
            }
        }
        .p-btn {
            display: block;
            padding: 15px;
            width: 100%;
            max-width: 200px;
            background: $color1;
            margin: 10px auto;
            color: white;
            text-align: center;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                background: $color2;
            }
        }
    }
}

#services {
    //background: #efefef;
    .service-box {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        background: white;
        filter: drop-shadow(8px 8px 10px rgba(29, 53, 87, 0.35));
        transition: 0.3s all;
        text-decoration: none;

        &:hover {
            transform: scale(1.05);
        }
        
        .left {
            border-right: 1.5px solid rgba(128, 128, 128, 0.20);
            @media (max-width: $break-small) {
                border-right: 0px solid rgba(128, 128, 128, 0.35);
            }
        }
        
        .right {
            @media (max-width: $break-small) {
             border-top: 1.5px solid rgba(128, 128, 128, 0.20);
            padding-top: 15px;
                //border-right: 0px solid rgba(128, 128, 128, 0.15);
            }
        }

        h2 {
            text-align: left;
            width: 100%;

            @media (max-width: $break-small) {
                text-align: center;
            }
        }

        p {
            width: 100%;
            text-align: justify;
            a {
                text-decoration: none;
                color: #1f354a;
                transition: 0.3s all;
                &:hover {
                    color: $color1;
                }
            }
        }
    }
}


#departments {
    //background: #efefef;
    .department-box {
        background: #fafafa;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
            transform: scale(1.01);
        }

        .top-arrow {
            width: 25px;
            height: 25px;
            border-top: 2px solid $color1;
            //border-left: 2px solid $color1;
            border-right: 2px solid $color1;
            //border-radius: 3px 0px 3px 0px;
            margin-left: auto;
        }

        .department-box-body {
            padding: 3px 5%;
            text-align: center;
            //line-height: 2.5em;
            width: 100%;


            h2 {
                font-size: 22px;
                margin-top: 5px;
                color: $color1;
            }

            h3 {
                color: $color4;
                font-size: 20px;
                margin: 5px 0px;
            }

            img {
                pointer-events: none;
            }

            p {
                margin-top: 5px;
                font-size: 17px;
                color: #747474;
            }
        }

        .bottom-arrow {
            width: 25px;
            height: 25px;
            border-bottom: 2px solid $color1;
            border-left: 2px solid $color1;
            //border-right: 2px solid $color1;
            //border-radius: 3px 0px 3px 0px;
            margin-right: auto;
        }
    }
}

#portafolio {
    //background: #efefef;
    .portafolio-box {
        background: #fafafa;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
            transform: scale(1.01);
        }

        .top-arrow {
            width: 25px;
            height: 25px;
            border-top: 2px solid $color1;
            //border-left: 2px solid $color1;
            border-right: 2px solid $color1;
            //border-radius: 3px 0px 3px 0px;
            margin-left: auto;
        }

        .portafolio-box-body {
            padding: 3px 5%;
            text-align: center;
            //line-height: 2.5em;
            width: 100%;


            h2 {
                font-size: 22px;
                margin-top: 5px;
                color: $color1;
            }

            h3 {
                color: $color4;
                font-size: 20px;
                margin: 5px 0px;
            }

            img {
                pointer-events: none;
            }

            p {
                margin-top: 5px;
                font-size: 17px;
                color: #747474;
            }
        }

        .bottom-arrow {
            width: 25px;
            height: 25px;
            border-bottom: 2px solid $color1;
            border-left: 2px solid $color1;
            //border-right: 2px solid $color1;
            //border-radius: 3px 0px 3px 0px;
            margin-right: auto;
        }
    }
}



#contact {
    //background: #efefef;
    .middle-box {
        @media (min-width: $break-intermedium) {
            border-left: 1px solid rgba(128, 128, 128, 0.15);
            border-right: 1px solid rgba(128, 128, 128, 0.15);
        }

        @media (max-width: $break-medium) {
            border-top: 1px solid rgba(128, 128, 128, 0.15);
            border-bottom: 1px solid rgba(128, 128, 128, 0.15);
            padding: 10px 0px;
        }

    }

    a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bold;
        transition: 0.5s all;

        &:hover {
            color: $color1;
        }
    }
}

.map-container {
    padding-top: 20px;

    .place-map {
        width: 100%;
        height: 50vh;
    }
}
